.swiper {
  overflow: visible !important;
  cursor: grab;
}

.swiper-slide {
  border-radius: 20px;
}
.swiper-pagination {
  bottom: -30px !important;
}
.swiper-pagination-bullet {
  background-color: #2e8ffd !important;
}

.conclusion-bullet {
  opacity: 0.5 !important;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  border-radius: 50px;
  background: #fff !important;
  margin-left: 5px;
  text-align: center;
  padding: 1px;
  cursor: pointer;
}
.conclusion-bullet-active {
  color: #000;
  opacity: 1 !important;
}
